.comment-box {
    border: 2px solid #dedede;
    background-color: rgb(66, 69, 71);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 380px;
}

.comment-box p {
    word-wrap: break-word;
    margin: 0px 0px 0px 20px;
    text-align: left;
}

.TopBar-comment {
    text-align: center;
    margin: 5px 5px;
    font-size: 10px;
}

/* Clear floats */
.comment-box::after {
    content: "";
    clear: both;
    display: table;
}

.comment-box img {
    float: left;
    max-width: 40px;
    border-radius: 50%;
}

.add-comment {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    width: 380px;
    padding: 10px;
    border-radius: 5px;
}

.comment-info-1 {
    width: 100%;
}

.comment-info-1 strong {
    width: 50%;
    float: left;
}

.comment-info-1 p {
    width: 25%;
    float: left;
}

.TopBar-comment > .dropdown {
    float: right;
}

.comment-info-2 {
    word-wrap: break-word;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 40px;
    font-size: 12px;
}

.comment-avatar {
    width: 100%;
}

.form-control {
    display: flex;
    border: 1px solid #888;
    width: 100%;
    outline: none;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}
