.AddPostForm {
    color: grey;
    display: inline-block;
    box-shadow: 6px 6px 8px 6px rgba(0, 0, 0, 0.2);
    border-style: dotted;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.AddPostForm textarea {
    display: flex;
    border: 1px solid #888;
    width: 100%;
    outline: none;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

.AddPostForm button {
    display: flex;
}

.ProfilCard {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 350px;
    min-height: 400px;
    margin: auto;
    padding: 10px;
    vertical-align: middle;
    line-height: 30px;
}

.ProfilCard img {
    width: 50%;
    border-radius: 50%;
}

.ProfilCard p {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    margin: 0px;
}

.ProfilCard span {
    margin-left: 5px;
    margin-right: 5px;
}

.title {
    color: grey;
    font-size: 18px;
}

.column {
    display: flex;
    min-height: 100vh;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
    text-align: left;
}

/* ====================== */
div.PostFrame {
    float: left;
    width: 400px;
    padding: 15px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 14px;
}

div.PostFrame span {
    margin: 0 42px 0 0;
}

span.name {
    float: left;
    font-size: 20px;
    color: grey;
    width: 100%;
}

span.time {
    font-size: 12px;
    color: white;
    width: 100%;
}

div.avatar {
    margin: 0 20px 0 13px;
    float: left;
    width: 20%;
}

div.avatar img {
    width: 100%;
    border-radius: 100px;
}

.PostFrame p {
    margin: 5px 50px 0 90px;
    padding: 0;
    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;
}

.PostFrame > .bodyPost {
    font: 13px Tahoma, cursive;
    min-height: 70px;
    width: 100%;
    border: 2px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    word-wrap: break-word;
    /* outline: none; */
    overflow: hidden;
    resize: none;
    line-height: 1.5;
}

.btn-posts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.TopBar {
    display: flex;
    margin-bottom: 20px;
}

.name-time {
    float: left;
    width: 70%;
}

.dropdown {
    position: relative;
    width: 10%;
    float: right;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
